includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - app
        - database
        - routes
        - bootstrap/app.php
        - bootstrap/providers.php
        - public/index.php
        - tests
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: true
    # checkOctaneCompatibility: true
    # checkModelProperties: true
